/*COLORS*/

.pink{
	color: #e712a9;
}

.grey{
	color: #908c8c;
}

.black{
color: #000;
}

.white-background{
background-color: #fff;
}

.dark-background{
	background-color: #222;
}

.darker-background{
	background-color: #171717;
}

.orange{
	color: #ea8f05:;
}

/*END COLORS*/
