.btn-secondary{
	color: #fff;
	background-color: #959a9f;
	border-color: #fff !important;
} 

.btn-lg {
	padding: 0.5rem 1rem;
	font-size: 1.2rem;
	line-height: 1.6;
	border-radius: 0.5rem;
	border-color: #fff !important;
}


.btn-block {
	display: block;
	width: 100%;
}